hardware/PCB/.history/
.copperpilot/
hardware/PCB/~PCB.kicad_sch.lck
hardware/PCB/~PCB.kicad_pro.lck
hardware/PCB/_autosave-PCB.kicad_pcb
hardware/~MBus-ESP-Adapter.kicad_pcb.lck
hardware/~MBus-ESP-Adapter.kicad_sch.lck
